<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${roomName}"></title>
    <link rel="stylesheet" href="Structure.css">
</head>
<body>

<header id="header">
    <ul>
        <li>Welcome back <span th:text="${username}">Erik</span>!</li>
        <button th:text="${usernameLetter}" id="usernameLetter">E</button>
    </ul>
</header>
<div id="taskContainer">
    <tr th:each="homework: ${tasks}">
        <div style="display: flex; flex-flow: row nowrap" id="task">
            <div>
                <h1 th:text="${homework.getTitle}">Mathe-HÜ</h1>
                <p th:text="${homework.getInfo}">Buch S.125/1,2,3</p>
            </div>
            <h1 th:text="${homework.getDeadline}">21.02.2023</h1>
        </div>
    </tr>
</div>
<div id="todoContainer">
    <tr th:each="todoItem: ${todos}">
        <div style="display: flex; flex-flow: row nowrap" id="todo">
            <div>
                <h1 th:text="${todoItem.getTitle}">Mathe-HÜ</h1>
                <p th:text="${todoItem.getInfo}">Buch S.125/1,2,3</p>
            </div>
            <h1 th:text="${todoItem.getDeadline}">21.02.2023</h1>
        </div>
    </tr>
</div>
<section id="menu">
    <form id="taskAdder" action="/update-after-addTask" method="post">
        <h1>new Task?</h1>
        <div class="item">
            <label for="taskTitle">Title:</label>
            <input name="Title" id="taskTitle" type="text" required>
        </div>
        <div class="item">
            <label for="taskDeadline">Deadline:</label>
            <input name="Deadline" id="taskDeadline" type="date" required>
        </div>
        <div class="item">
            <label for="taskInfo">Info:</label>
            <input name="Info" id="taskInfo" type="text" required>
        </div>
        <div class="item">
            <button type="submit" class="submitButton">
                Submit
            </button>
        </div>
    </form>
    <form id="todoAdder" action="/update-after-addTodo" method="post">
        <h1>new Todo?</h1>
        <div class="item">
            <label for="taskTitle">Title:</label>
            <input name="Title" id="todoTitle" type="text" required>
        </div>
        <div class="item">
            <label for="taskDeadline">Deadline:</label>
            <input name="Deadline" id="todoDeadline" type="date" required>
        </div>
        <div class="item">
            <label for="taskInfo">Info:</label>
            <input name="Info" id="todoInfo" type="text" required>
        </div>
        <div class="item">
            <button type="submit" class="submitButton">
                Submit
            </button>
        </div>
    </form>
</section>
<footer>
    <p>created by Erik & David</p>
</footer>
</body>
</html>