<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${roomName}"></title>

    <style>

        #wrapper {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            background-color: #8ba4a4;
            border-radius: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }

        #container {
            position: absolute;
            top: 95%;
        }

    </style>
</head>
<body>

<p>Welcome back <span th:text="${username}"></span>!</p>

<div>
    <tr th:each="homework: ${tasks}">

        <div style="display: flex; flex-flow: row nowrap" id="wrapper">
            <div>
                <h1 th:text="${homework.getTitle}">Title</h1>
                <p th:text="${homework.getInfo}" style="padding-left: 10px ">Info</p>
            </div>
            <h1 th:text="${homework.getDeadline}">Date</h1>
        </div>

    </tr>
</div>
<div id="container">
    <form action="/Room" method="post">

        <label for="Title">Title:</label>
        <input name="Title" id="Title" type="text" required>

        <label for="DeadLine">DeadLine:</label>
        <input name="Deadline" id="DeadLine" type="text" required>

        <label for="Info">Info:</label>
        <input name="Info" id="Info" type="text" required>

        <button type="submit"
                style="border-radius: 5px;border-width: 0;background-color: #8ba4a4; margin-top: 10px">
            Submit
        </button>


    </form>
</div>

</body>
</html>